
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">

    <title>Tincan</title>

    <!-- CSS -->
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css"> <!-- custom styles -->

    <!-- Custom styles for this template -->
    <link href="css/blog.css" rel="stylesheet">
    <link rel="icon" type="img/ico" href="images/favicon.ico">

    <!-- JS -->
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-route/angular-route.min.js"></script>
    <script src="libs/angular-cookies/angular-cookies.js"></script>
    <script src="libs/angular-cookies/angular-cookies.js"></script>
    <script src="libs/sockjs/sockjs.min.js"></script>
    <script src="libs/stomp-websocket/dist/stomp.min.js"></script>

    <!-- ANGULAR CUSTOM -->
    <script src="js/controllers/MainCtrl.js"></script>
    <script src="js/controllers/UserCtrl.js"></script>
    <script src="js/services/UserService.js"></script>
    <script src="js/services/AuthenticationService.js"></script>
    <script src="js/services/ShoutService.js"></script>
    <script src="js/appRoutes.js"></script>
    <script src="js/app.js"></script>

</head>

<body ng-app="tincanApp" ng-controller="MainController">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">

        <div class="navbar-header">
          <a class="navbar-brand active" href="/">TINCAN</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <div class="btn-group navbar-form navbar-right dropdown" ng-show='login.loggedin'>
            <button type="button" class="btn btn-info" ng-click="goToUser();">{{activeUser.username}}</button>
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
              <ul class="dropdown-menu">
                <li><a href="#" ng-click="logout();">logout</a></li>
              </ul>
          </div>

          <form class="navbar-form navbar-right" ng-hide="login.loggedin" ng-submit="signIn()">
            <div class="form-group">
              <input type="text" placeholder="username" class="form-control" ng-model="login.username">
            </div>
            <div class="form-group" ng-class="{'has-error' : login.loginFailed}" >
              <input type="password" placeholder="password" class="form-control" ng-model="login.password">
            </div>
            <button type="submit" class="btn btn-success">log in</button>
          </form>

        </div>
      </div>
    </nav>

    <div ng-view></div>

    <footer class="blog-footer">
      <div class="container" style="padding-top: 20px;">
        <div >Tincan built by kevin j miles @kevinj.</div>
      </div>
    </footer>
</body>
</html>
