<div  style='padding-top:95px;'class="jumbotron text-center v-center">
  <h1>{{ tagline }}</h1>
</div>
<div class="container">
  <div class='row'>

    <div class="col-sm-6">
      <div class="span4"></div>
      <div class="span4">
        <img style='padding-top:60px;' src="images/tin_can_telephone.jpg" />
      </div>
      <div class="span4"></div>
    </div>

    <div ng-show='login.loggedin' class="col-sm-6">
      <div class="span4"></div>
      <div class="span4">
        <img style='padding-top:60px;' src="images/girls.jpg" />
      </div>
      <div class="span4"></div>
    </div>

    <div ng-hide='login.loggedin' class="col-sm-6">
      <h2>Sign Up</h2>
      <h4>your shouts await</h4>
      <form>
        <div id="center-panel">
          <input type="text" class="form-control input-lg" title="enter your username"
            placeholder="enter your username" ng-model="create.username">
          <br>
          <div class="form-group" ng-class="{'has-error' : !create.passwordsMatch}">
            <input type="password" class="form-control input-lg"
              placeholder="{{create.placeholder}}" ng-model="create.password">
            <br>
            <input type="password" class="form-control input-lg"
              placeholder="{{create.placeholder}}" ng-model="create.passwordConfirm">
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="createNewUser()" ng-disabled="!create.username">sign up</button>
        </div>
      </form>
    </div>

  </div>
</div>
