<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item" href="/userhome">home</a>
      <a class="blog-nav-item active" href="/userlist">search</a>
      <a class="blog-nav-item" href="#">about</a>
    </nav>

  </div>
</div>

<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">@{{activeUser.username}}</h1>
    <p class="lead blog-description">If there was a Profile page you could add your motto here.</p>
  </div>


  <h2 class="blog-post-title">Callers:</h2>

  <div class='row'>
    <div class="col-sm-8 blog-main">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="username" ng-model="searchKeyword" />
        <i class="glyphicon glyphicon-search form-control-feedback"></i>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 blog-main scrollable">

      <div class="blog-post" data-ng-repeat="user in users | filter: searchKeyword" class="ng-scope"
        ng-if='user.username!==activeUser.username'>

        <div class="row">
          <div class="col-sm-12">

            <div class="row">

              <div class="col-sm-11">
                <p>@{{ user.username }}</p>
              </div>

              <div class="col-sm-1 ">
                <button title="toggle following this caller" type="button" class="btn btn-info pull-right"
                  ng-click="toggleFollowCaller(user.username, activeUser.username)">
                  <span class="glyphicon"
                    ng-class="isFollowingCaller(user.username) ? 'glyphicon-check' : 'glyphicon-unchecked'"></span>
                </button>
              </div>

            </div>

          </div>

        </div>

        <hr style="margin:5px 0 0 0">

      </div>

    </div>

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    </div>

  </div>

</div>
