<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item active" href="/userhome">home</a>
      <a class="blog-nav-item" href="/userlist">search</a>
      <a class="blog-nav-item" href="#">about</a>
    </nav>

  </div>
</div>

<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">@{{activeUser.username}}</h1>
    <p class="lead blog-description">
      If there was a Profile page you could add your motto here.</p>
  </div>

  <div class="row">
    <div class="col-sm-8 blog-main">
      <div class="col-lg-7">
        <h2 class="blog-post-title">Shouts:</h2>
      </div>
      <div class="col-lg-5 col-lg-push-3">
        <button class="btn btn-primary" type="button" title='toggle faviorites only' ng-click="toggleViewFavoriteShouts()">
          Favorites
          <span class="badge">{{activeUser.favoriteShouts.length}}</span>
        </button>
      </div>
    </div>

    <div class="col-sm-3"/>
  </div>

  <div class="row">
    <div class="col-sm-8 blog-main scrollable">

      <div ng-hide="hasShouts" class="bubble pull-right">
        <h1 class="logo">Thinking something?</h1>
      </div>

      <div class="blog-post"
        data-ng-repeat="shout in shouts | isaFavoriteShout:viewOnlyFavoitedShouts:activeUser.favoriteShouts | orderBy: '-date'">
        <blockquote>

          <div class="row">
            <div class="col-lg-12">

              <div class="row">

                <div class="col-sm-11">
                  <p>{{shout.shout}}</p>
                </div>

                <div class="col-lg-1 ">
                  <a href="#" class="glyphicon fav-button-link"
                    ng-class="isFavoriteShout(shout.id) ? 'glyphicon-star' : 'glyphicon-star-empty'" aria-hidden="true"
                    title="click to favorite" ng-click="toggleFavoriteShout(activeUser.username, shout)"></a>
                </div>

              </div>

            </div>
          </div>

          <footer><a href="#">@{{shout.userId}}</a> -
            <cite title="Source Title">{{ shout.date | date:'MM.dd @ h:mma' }}</cite>
          </footer>

        </blockquote>
        <div class="horizontal-rule">.</div>
      </div>
      <!-- /.blog-post -->

    </div>
    <!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <div class="form-group">
          <textarea style="height: 100px; resize: none; width: 260px;" class="form-control" rows="5" id="comment" maxlength="140" ng-model='shout.text' placeholder="Something on your mind?"></textarea>
          <br>
          <button class="btn btn-sm btn-primary btn-block" type="button" ng-click="createShout()" ng-disabled="!shout.text">shout out</button>
        </div>
      </div>
      <div class="sidebar-module">
        <h4>Callers you Follow</h4>
        <ol class="list-unstyled">
          <li class="text-left" data-ng-repeat="follow in activeUser.following">
            <a href="#">@{{ follow }}</a>
          </li>
        </ol>

      </div>
    </div>
    <!-- /.blog-sidebar -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
