
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 /* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
   Margin bottom by footer height
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.bgimage {
  background-image: url('../images/bird.png') ;
  background-repeat: no-repeat;
}

#center-panel{
  background: rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 12px;
}

a.button-link{
  color: white;
  text-decoration: none;
}

a.fav-button-link{
  color: grey;
  text-decoration: none;
}

.scrollable {
     /*height: 400px;*/
     margin-bottom: 80px;
 }

 .horizontal-rule {
    width: 75%
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;

    background-color: rgba(215, 215, 215, 0.5);
    margin-top: -6px;
    margin-bottom: 10px;
}

.bubble
{
    position: relative;
    width: 250px;
    height: 120px;
    padding: 0px;
    background: #C7E4FF;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;
    border: #AFB0B1 solid 5px;
    margin-top: 35px;
}

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 0 15px 49px;
    border-color: transparent #C7E4FF;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -15px;
    right: -49px;
    top: 35%;
}

.bubble:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 19px 0 19px 53px;
    border-color: transparent #AFB0B1;
    display: block;
    width: 0;
    z-index: 0;
    margin-top: -19px;
    right: -58px;
    top: 35%;
}

h1.logo
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}